._concept-1 {
  .container {
    position: relative;
    width: 100%; /* Ensure the container takes the full width */
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box; /* Ensure consistent width calculations */
  }

  .editorContainer {
    position: relative;
    flex: 0 0 auto; /* Prevent flex-grow and flex-shrink */
    width: 50%; /* Initial width as a percentage */
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box; /* Include border in width calculations */
  }

  .separator {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%; /* Fixed width for the separator */
    cursor: col-resize;
    border-right: 1px solid #ddd;
    z-index: 10;
    transition: border-right-width 0.2s ease;
    box-sizing: border-box; /* Include border in width calculations */
  }

  .separator:hover {
    border-right-width: 5px;
  }

  .quill {
    height: 100%;
    overflow: hidden;
  }

  .ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 9;
  }

  .ql-container {
    padding-bottom: 48px;
  }

  .ql-toolbar.ql-snow {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  }

  .ql-container.ql-snow {
    border: none !important;
  }

  .ql-editor *[data-slide-id] {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .ql-editor *[data-slide-id]::after {
    content: 'Slide #' attr(data-slide-id);
    position: absolute;
    top: 2px;
    right: 0;

    font-size: 12px;
    font-weight: 500;
    opacity: 0.3;
  }

  .slidesVariantsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .slidesVariants {
      position: absolute;
      flex-direction: row;
      overflow-x: auto;

      .slideVariant {
        transform: scale(0.2);
      }
    }
  }

  .slidesPreviewContainer {
    flex: 1; /* Take up the remaining space */
    height: 100%;
    overflow: hidden;
  }
}
