#home {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  overflow: hidden;
}

.container > div:first-child {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #ddd;
}

.quill {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #ccc;
}

.ql-toolbar {
  position: sticky;
  x: 0;
  z-index: 100;
}

.ql-container {
  overflow: auto;
  padding-bottom: 48px;
}

.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid #ccc;
}

.ql-toolbar.ql-snow:first-child {
  display: none;
}

.ql-container.ql-snow {
  border: none;
}

.ql-editor h2 {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.ql-editor h2::after {
  content: 'Slide #';
  position: absolute;
  top: 2px;
  right: 0;

  font-size: 12px;
  font-weight: 500;
  opacity: 0.3;
}
