.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  height: 800px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}

.ql-container {
  height: auto;
}

.previewContainer {
  height: 100%;
  overflow-y: auto;
  background-color: #f4f4f4;
}

.slidesRow {
  display: flex;
  justify-content: flex-start;
  padding: 0 24px;
  gap: 12px;
}

.slidesVariants {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 0;
  gap: 20px;
}

.slidesVariants:last-child {
  padding-right: 24px;
}

.slide {
  width: calc(297px * 2);
  height: calc(210px * 2);
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

._new {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  background-color: white;
  padding: 1.5em 3em;
}

._new h1 {
  font-size: 2.5em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #333;
}

._new h2,
._new h3,
._new h4 {
  margin-bottom: 1em;
  color: #444;
}

._new p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #666;
  max-width: 80%;
}

._new ul,
._new ol {
  text-align: left;
  margin: 1em 0;
  padding-left: 2em;
}

._new li {
  font-size: 1.1em;
  line-height: 1.5;
  color: #555;
}

._new img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 1em 0;
}

._new blockquote {
  font-style: italic;
  color: #777;
  border-left: 4px solid #ccc;
  padding-left: 1em;
  margin: 1em 0;
}

._new table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

._new td,
._new th {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}

._new th {
  background: #eee;
  font-weight: bold;
}

._wave {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  color: #fff;
  background-color: #222;
  padding: 2em 4em;
}

._wave h1 {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #fff;
  text-align: center;
}

._wave h2,
._wave h3,
._wave h4 {
  margin-bottom: 1.5em;
  color: #fefefe;
}

._wave p {
  font-size: 1.2em;
  line-height: 1.4;
  color: #ededed;
  max-width: 80%;
}

._wave ul,
._wave ol {
  text-align: left;
  margin: 1em 0;
  padding-left: 2em;
}

._wave li {
  font-size: 1.2em;
  line-height: 1.6;
  color: #ededed;
}

._wave img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 1em 0;
}

._wave blockquote {
  font-style: italic;
  color: #cccccc;
  border-left: 4px solid #ccc;
  padding-left: 1em;
  margin: 1em 0;
}

._wave table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

._wave td,
._wave th {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}

._wave th {
  background: #dadada;
  font-weight: bold;
}

._neon {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  color: #290075;
  background-color: #c8cfff;
  padding: 1em 2em;
}

._neon h1 {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #290075;
}

._neon h2,
._neon h3,
._neon h4 {
  margin-bottom: 1.5em;
  color: #290075;
}

._neon p {
  font-size: 1.2em;
  line-height: 1.4;
  color: #030012;
  max-width: 80%;
}

._neon ul,
._neon ol {
  text-align: left;
  margin: 1em 0;
  padding-left: 2em;
}

._neon li {
  font-size: 1.2em;
  line-height: 1.6;
  color: #030012;
}

._neon img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 1em 0;
}

._neon blockquote {
  font-style: italic;
  color: #5822e1;
  border-left: 4px solid #5822e1;
  padding-left: 1em;
  margin: 1em 0;
}

._neon table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

._neon td,
._neon th {
  border: 1px solid #5822e1;
  padding: 0.5em;
  text-align: left;
}

._neon th {
  background: #c4b1f5;
  font-weight: bold;
}
