#home {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  overflow: hidden;
}

.container > div:first-child {
  height: 100%;
  overflow: hidden;
}

.quill {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #ccc;
}

.ql-toolbar {
  position: sticky;
  x: 0;
  z-index: 100;
}

.ql-container {
  overflow: auto;
  padding-bottom: 48px;
}

.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid #ccc;
}

.ql-container.ql-snow {
  border: none;
}
