#home {
  height: 100%;

  display: flex;
  flex-direction: column;

  .editor-header {
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
  }

  .editor-header h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  .concepts-selector {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      opacity: 0.6;
    }
  }

  .ql-container {
    font: inherit;
  }

  .ql-editor {
    margin: 0;
    padding: 0;

    > * {
      padding-left: 20px;
      padding-right: 40px;
    }

    > *[data-slide-id] {
      position: relative;

      margin-top: 20px;
      padding-top: 20px;

      border-top: 1px solid #888888;
    }

    > *[data-slide-id]:first-child {
      margin-top: 0;
      border-top: none;
    }

    > *[data-slide-id]::after {
      content: 'Slide #' attr(data-slide-id);
      position: absolute;
      top: 2px;
      right: 16px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: rgba(143, 143, 143, 0.88);
    }

    h1 {
      font-size: 38px;
      line-height: 46px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    h2 {
      font-size: 30px;
      line-height: 38px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    h3 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin: 0;
      margin-bottom: 12px;
    }

    b,
    strong {
      font-weight: 600;
    }

    i,
    em {
      font-style: italic;
    }

    s {
      text-decoration: line-through;
      text-decoration-thickness: 1.5px;
      text-underline-offset: -1px;
    }

    u,
    a {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
      text-underline-offset: 3px;
    }

    a {
      color: inherit;
      cursor: pointer;
    }

    ul,
    ol {
      margin: 0;
      list-style-position: outside;
      list-style-type: disc;

      li {
        margin-bottom: 8px;
        padding-left: 24px;

        .ql-ui::before {
          margin-left: -1.8em;
        }
      }
    }
  }
}

#toolbar {
  background-color: #ffffff;
}
