.p1l1i0_v1 h1 {
  text-align: center;
  color: #333;
}

.p1l1i0_v1 p {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
  color: #666;
}

.p1l1i0_v1 ul {
  list-style-type: disc;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  max-width: 80%;
  color: #666;
}
