.p0l0i0_v1 {
  h1 {
    text-align: center;
  }

  h2,
  h3,
  h4 {
    text-align: center;
    margin-bottom: 1em;
  }

  p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 100%;
  }

  img:first-child {
    position: absolute;
    right: 24px;
    bottom: 12px;
    width: 160px;
    height: auto;
  }

  img:not(:first-child) {
    display: none;
  }
}
