._concept-0 {
  .container {
    width: 100%; /* Ensure the container takes the full width */
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    box-sizing: border-box; /* Ensure consistent width calculations */
  }

  .editorContainer {
    position: relative;
    flex: 0 0 auto; /* Prevent flex-grow and flex-shrink */
    width: 50%; /* Initial width as a percentage */
    height: 100%;
    overflow: hidden;
    box-sizing: border-box; /* Include border in width calculations */
  }

  .separator {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%; /* Fixed width for the separator */
    cursor: col-resize;
    border-right: 1px solid #ddd;
    z-index: 10;
    transition: border-right-width 0.2s ease;
    box-sizing: border-box; /* Include border in width calculations */
  }

  .separator:hover {
    border-right-width: 5px;
  }

  .quill {
    height: 100%;
    overflow: hidden;
  }

  .ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 9;
  }

  .ql-container {
    overflow: auto;
    padding-bottom: 48px;
  }

  .editor {
    height: 100%;
    overflow: hidden;
  }

  .ql-toolbar.ql-snow {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  }

  .ql-container.ql-snow {
    border: none !important;
  }

  .slidesPreviewContainer {
    flex: 1; /* Take up the remaining space */
    height: 100%;
    overflow: hidden;
  }

  .slidesVariants {
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    overflow-x: hidden;
    overflow-y: auto;

    .slideVariant {
      width: 594px;
      height: 420px;

      overflow: hidden;
      border-radius: 12px;

      &::before {
        border-radius: 12px;
      }

      .slide {
        transform: scale(0.5);
        transform-origin: top left;
      }
    }
  }
}
