.sobakapav .slide.titlg_v06 {
  .slideContainer {
    height: calc(100% - 120px);
    width: calc(100% - 120px);
    position: relative;
  }
  .textContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: start;
    justify-content: space-between;
  }

  h1 {
    text-align: left;
    max-width: 60%;
  }

  h2,
  h3,
  h4 {
    text-align: left;
    max-width: 60%;
  }

  .contentContainer {
    margin: 287px 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    justify-content: start;

    p {
      text-align: left;
      font-size: 48px;
      line-height: 120%;
      font-weight: 500;
      margin-bottom: 10px;
      max-width: 65%;
    }
  }

  .unwrapContent {
    max-width: 65%;
  }

  ul, ol {
    margin: 0 0 0 -20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 65%;
  }

  img {
   position: absolute;
   height: 66px;
   width: 66px;
   right: 0px;
   top: 0px;
  }
}
