.p0l0i3_v3 h1 {
  text-align: right;
  color: #222;
}

.p0l0i3_v3 .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.p0l0i3_v3 img {
  max-width: 60%;
  height: auto;
}
