.sobakapav .slide.p0l0i2_v08 {
  .slideContainer {
    height: calc(100% - 68px);
    width: calc(100% - 68px);
    padding: 24px;
  }
  .textContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: end;
  }
  h1 {
    text-align: center;

  }

  h2,
  h3,
  h4 {
    text-align: center;

  }

  p {
    text-align: center;

  }

  ol,
  ul {
    text-align: left;

  }

  images {
    max-height: 60%;
    max-widht: 100%;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    align-items: flex-center;
    gap: 24px;
  }

  .slideImage1 {
    width: auto;
    height: auto;
  }

  .slideImage2 {
    width: auto;
    height: auto;
  }
}
