.sobakapav .slide.texti1_v03 {
  .slideContainer {
    height: calc(100% - 120px);
    width: calc(100% - 120px);
    position: relative;
  }
  .textContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: start;
    justify-content: space-between;
  }

  h1 {
    text-align: left;
    font-size: 60px;
    line-height: 100%;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 56px 0;
    max-width: 900px;
  }

  h2,
  h3,
  h4 {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    line-height: 120%;
    font-weight: 600;
    margin: 0 0 12px 0;
  }

  .contentContainer {
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;

    p {
      text-align: left;
      font-size: 32px;
      line-height: 120%;
      font-weight: 500;
      margin-bottom: 40px;

    }
  }

  .unlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    gap: 60px;

    counter-reset: item;

    div, p, ol, ul {
      flex: 1 0 45%;
    }

    .as-list-type-ul {
      display: flex;
      &:before {
        flex: 0 0 30px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        background-color: #95001b;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        margin-top: 5px;
        margin-right: 20px;

        content: '→';
        font-family: monospace;
        font-size: 30px;
        line-height: 10px;
        font-weight: 800;
        color: white;
      }
    }

    .as-list-type-ol {
      display: flex;
      align-items: center;

      &:before {
        content: counter(item);
        counter-increment: item;
        color: white;

        flex: 0 0 30px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-top: 5px;
        margin-right: 20px;

        background-color: #4d5052;
        font-size: 15px;
      }
    }
  }

  ul, ol {
    margin: 0 0 0 -20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  img {
    position: absolute;
    left: -60px;
    top: -60px;
    width: 100%;
    height: auto;
    z-index: -10;
  }
}

