@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$brand-color: #95001b;
$primary-color: #101010;
$secondary-color: #434343;
$background-color: #ffffff;

$brand-color-dark: #c66d65;
$primary-color-dark: #fff;
$secondary-color-dark: #f6f6f6;
$background-color-dark: #212121;

.sobakapav {
  .slide {
    padding: 10px;
    h1,
    h2,
    h3 {
      font-family: 'Bebas Neue', sans-serif;
    }

    h1 {
      font-size: 68px;
      line-height: 100%;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0.6em 0;
    }

    h2,
    h3,
    h4 {
      margin-bottom: 1em;
    }

    p {
      font-size: 32px;
      line-height: 130%;
      font-family: 'Inter', sans-serif;
    }

    ul,
    ol {
      text-align: left;
      margin: 1em 0;
      padding-left: 2em;
      color: $brand-color;
    }

    ul {
      list-style-type: circle;
    }

    li {
      font-size: 32px;
      line-height: 130%;
      font-family: 'Inter', sans-serif;
    }

    ol {
      li {
        position: relative;
        z-index: 2;
      }
      li:before {
        content: "";
        position:absolute;
        left:calc(-1.2em - 3px);
        top: 3px;
        background-color:$brand-color;
        z-index: -1;
        display:inline-block;
        width:1.2em;
        height:1.2em;
        border-radius:0.6em;
      }

      li::marker {
        color: #ffffff;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin: 1em 0;
    }

    blockquote {
      font-family: 'Inter', sans-serif;
      font-style: italic;
      border-left-width: 4px;
      border-left-style: solid;
      padding-left: 1em;
      margin: 1em 0;
    }

    td,
    th {
      border-width: 1px;
      border-style: solid;
      padding: 0.5em;
      text-align: left;
    }

    th {
      font-weight: bold;
    }
  }

  &._light {

    .slide {
      color: $primary-color;
      background-color: $background-color;

      h1,
      h2,
      h3,
      h4 {
        color: $primary-color;
      }

      p {
        color: $primary-color;
      }

      li {
        color: $primary-color;
      }

      blockquote {
        background-color: #eff0f0;
        color: $brand-color;
        border-left-color: #e8e8e8;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1em;
      }

      td,
      th {
        border-color: #e8e8e8;
      }

      th {
        background-color: #eff0f0;
      }
    }
  }

  &._dark {
    .slide {
      color: $primary-color-dark;
      background-color: $background-color-dark;

      h2,
      h3,
      h4 {
        color: $secondary-color-dark;
      }

     blockquote {
        background-color: #eff0f0;
        color: $brand-color-dark;
        border-left-color: #e8e8e8;
      }
    }
  }
}

