.sobakapav .slide.p0l0i2_v02 {
  .slideContainer {
    height: calc(100% - 68px);
    width: calc(100% - 68px);
    padding: 24px;
  }
  .textContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: start;
  }
  h1 {
    text-align: center;
  }

  h2,
  h3,
  h4 {
    text-align: center;
  }

  p {
    text-align: center;
    max-width: 100%;
  }

  ol,
  ul {
    text-align: left;
  }

  .images {
    max-height: 60%;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  .slideImage1 {
    width: auto;
    height: auto;
  }

  .slideImage2 {
    width: auto;
    height: auto;
  }
}
