.previewContainer {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  background-color: #f4f4f4;

  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 0 24px;
  gap: 16px;
}

.previewContainer._empty {
  align-items: center;
}

.previewContainer._empty span {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
}

.slidesVariants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;

  padding: 24px 0;

  scroll-snap-align: start;

  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-margin: 16px;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}
