.p2l0i0_v14 h1 {
  text-align: center;
}

.p2l0i0_v14 p {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
}

.p0l0i1_v14 h1 {
  text-align: center;
  font-style: italic;
}

.p0l0i1_v14 img {
  position: absolute;
  bottom: 20px;
  left: 20px;
  max-width: 50%;
  height: auto;
}
