.sobakapav .slide.title_v07 {
  .slideContainer {
    height: calc(100% - 120px);
    width: calc(100% - 120px);
    position: relative;
  }
  .textContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: end;
    justify-content: space-between;
  }

  h1 {
    text-align: right;
    max-width: 60%;
  }

  h2,
  h3,
  h4 {
    text-align: right;
    max-width: 60%;
  }

  .contentContainer {
    margin: 287px 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;

    p {
      text-align: right;
      font-size: 48px;
      line-height: 120%;
      font-weight: 500;
      margin-bottom: 10px;
      max-width: 65%;
    }
  }


  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;

    margin: 0 0 0 -20px;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    li {
      &::before {
        display: none;
      }
    }
  }

  .images {
    position: absolute;
    left: 800px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .slideImage1 {
    width: auto;
    height: auto;
  }

}
