.p2l0i0_v11 h1 {
  text-align: center;
}

.p2l0i0_v11 p {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
}

.p0l0i1_v11 h1 {
  text-align: center;
}

.p0l0i1_v11 img {
  display: block;
  margin: 20px auto;
  max-width: 80%;
  height: auto;
}
