.sobakapav .slide.p0l0i1_v13 {
  .slideContainer {
    height: calc(100% - 68px);
    width: calc(100% - 68px);
    padding: 24px;
  }
  .textContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: end;
    justify-content: start;
  }
  h1 {
    text-align: left;
    max-width: calc(50% - 68px);
    font-weight: 500;
  }

  h2,
  h3,
  h4 {
    text-align: left;
    max-width: calc(50% - 68px);
  }

  p {
    text-align: left;
    max-width: calc(50% - 68px);
  }

  ol,
  ul {
    text-align: left;
    max-width: calc(50% - 68px);
  }

  img:first-child {
    position: absolute;
    right: 50%;
    top: -24px;
    width: auto;
    height: 100%;
  }

  img:not(:first-child) {
    display: none;
  }
}
