._concept-2 {
  .container {
    position: relative;
    width: 100%; /* Ensure the container takes the full width */
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box; /* Ensure consistent width calculations */
  }

  .editorContainer {
    position: relative;
    flex: 1 0 auto; /* Prevent flex-grow and flex-shrink */
    width: 50%; /* Initial width as a percentage */
    box-sizing: border-box; /* Include border in width calculations */
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 9;
  }

  .ql-container {
    padding-bottom: 48px;
    height: auto;
  }

  .ql-toolbar.ql-snow {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  }

  .ql-container.ql-snow {
    border: none !important;
  }

  .ql-editor *[data-slide-id] {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .ql-editor *[data-slide-id]::after {
    content: 'Slide #' attr(data-slide-id);
    position: absolute;
    top: 2px;
    right: 0;

    font-size: 12px;
    font-weight: 500;
    opacity: 0.3;
  }

  .slidesVariantsContainer {
    position: relative;
    width: 302px;
    padding: 24px;

    .slidesPreview-item {
      position: absolute;
      flex-direction: row;
      gap: 8px;
      overflow-x: auto;
      overflow-y: hidden;
      width: auto;
      height: auto;
      border-radius: 10px;

      .slideVariant {
        width: 297px;
        height: 210px;
        overflow: hidden;
        border-radius: 8px;

        &::before {
          border-radius: 8px;
        }

        .slide {
          transform: scale(0.25);
          transform-origin: top left;
        }
      }
    }
  }

  .bottomBar {
    justify-content: flex-end;
  }

  .slidesPreview {
    display: none;
  }
}
