.slide {
  position: relative;
  width: calc(297px * 2);
  height: calc(210px * 2);
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 12px;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-margin: 20px;

  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  background-color: white;
  padding: 1.5em 3em;

  flex-shrink: 0;
}

.slide::after {
  content: attr(data-title);
  position: absolute;
  right: 12px;
  bottom: 8px;
  opacity: 0.2;
}

.slide:hover {
  cursor: pointer;
}

.slide:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(0, 43, 128, 0.4);
  border-radius: 12px;
  z-index: 1;
  pointer-events: none;
}

.slide._selected::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid rgb(34, 128, 0);
  border-radius: 12px;
  z-index: 1;
  pointer-events: none;
}

.slide h1 {
  font-size: 2.5em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #333;
}

.slide h2,
.slide h3,
.slide h4 {
  margin-bottom: 1em;
  color: #444;
}

.slide p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #666;
  max-width: 80%;
}

.slide ul,
.slide ol {
  text-align: left;
  margin: 1em 0;
  padding-left: 2em;
}

.slide li {
  font-size: 1.1em;
  line-height: 1.5;
  color: #555;
}

.slide img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 1em 0;
}

.slide blockquote {
  font-style: italic;
  color: #777;
  border-left: 4px solid #ccc;
  padding-left: 1em;
  margin: 1em 0;
}

.slide table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.slide td,
.slide th {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}

.slide th {
  background: #eee;
  font-weight: bold;
}
