.p0l0i1_v06 {
  .slideContainer {
    height: calc(100% - 68px);
    width: calc(100% - 68px);
    padding: 24px;
  }
  .textContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: end;
    justify-content: center;
  }
  h1 {
    text-align: left;
    max-width: 50%;
  }

  h2,
  h3,
  h4 {
    text-align: left;
    margin-bottom: 1em;
    max-width: 50%;
  }

  p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 50%;
  }

  img:first-child {
    max-width: 50%;
    position: absolute;
    left: 24px;
    top: calc(50% - 160px);
    width: auto;
    height: auto;
  }

  img:not(:first-child) {
    display: none;
  }
}
