.p0l0i0_v04 {
  .slideContainer {
    height: calc(100% - 68px);
    width: calc(100% - 68px);
    padding: 24px;
  }
  .textContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: start;
    justify-content: center;
  }
  h1 {
    text-align: left;
  }

  h2,
  h3,
  h4 {
    text-align: left;
    margin-bottom: 1em;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 100%;
  }

  img:first-child {
    position: absolute;
    right: 24px;
    top: calc(50% - 160px);
    width: 160px;
    height: auto;
  }

  img:not(:first-child) {
    display: none;
  }
}
